<% layout('layouts/boilerplate')%>
<div class="container">
  <div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
      <div class="card-shadow">
        <form
          class="validated-form"
          method="POST"
          action="/campgrounds"
          enctype="multipart/form-data"
          novalidate
        >
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              name="campground[title]"
              id="title"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              name="campground[location]"
              id="location"
              class="form-control"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="price-label">$</span>
              <input
                type="text"
                class="form-control"
                name="campground[price]"
                id="price"
                placeholder="0.00"
                aria-describedby="price-label"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              type="text"
              name="campground[description]"
              id="description"
              class="form-control"
              required
            ></textarea>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label for="images" class="form-label">Images</label>
            <input
              type="file"
              accept=".jpeg,.jpg,.png"
              class="form-control"
              name="images"
              id="images"
              multiple
            />
          </div>
          <div class="mb-3">
            <button class="btn btn-success">Add Campground</button>
          </div>
        </form>
        <a href="/campgrounds">Cancel</a>
      </div>
    </div>
  </div>
</div>
